In [2]:
import json

In [3]:
wiki_path="E:/lab/wikisql/WikiSQL-master/WikiSQL-master/data/data/"

In [4]:
with open(wiki_path+"dev.jsonl") as f:
    question_text_lis=f.readlines()
with open(wiki_path+"dev.tables.jsonl") as f:
    table_text_lis=f.readlines()

In [5]:
question = [json.loads(member) for member in question_text_lis]

In [6]:
question

[{'phase': 1,
  'table_id': '1-10015132-11',
  'question': 'What position does the player who played for butler cc (ks) play?',
  'sql': {'sel': 3, 'conds': [[5, 0, 'Butler CC (KS)']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10015132-11',
  'question': 'How many schools did player number 3 play at?',
  'sql': {'sel': 5, 'conds': [[1, 0, '3']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10015132-11',
  'question': 'What school did player number 21 play for?',
  'sql': {'sel': 5, 'conds': [[1, 0, '21']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10015132-11',
  'question': 'Who is the player that wears number 42?',
  'sql': {'sel': 0, 'conds': [[1, 0, '42']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10015132-11',
  'question': 'What player played guard for toronto in 1996-97?',
  'sql': {'sel': 0, 'conds': [[3, 0, 'Guard'], [4, 0, '1996-97']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10015132-9',
  'question': 'Who are all of the players on the Westchester High School club team?',
  'sql': {'sel': 0, 'conds': [[5, 0, 'Westchester High School']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10015132-9',
  'question': 'What school/club team is Amir Johnson on?',
  'sql': {'sel': 5, 'conds': [[0, 0, 'Amir Johnson']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10015132-9',
  'question': 'What are the total amount of numbers on the Toronto team in 2005-06?',
  'sql': {'sel': 1, 'conds': [[4, 0, '2005-06']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10015132-9',
  'question': 'What are the total number of positions on the Toronto team in 2006-07?',
  'sql': {'sel': 3, 'conds': [[4, 0, '2006-07']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10015132-9',
  'question': 'What are the nationality of the players on the Fresno State school/club team?',
  'sql': {'sel': 2, 'conds': [[5, 0, 'Fresno State']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10015132-9',
  'question': 'What school/club team is Trey Johnson on?',
  'sql': {'sel': 5, 'conds': [[0, 0, 'Trey Johnson']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10026563-1',
  'question': 'When did Jacques Chirac stop being a G8 leader?',
  'sql': {'sel': 2, 'conds': [[3, 0, 'Jacques Chirac']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10026563-1',
  'question': 'When did the Prime Minister of Italy take office?',
  'sql': {'sel': 0, 'conds': [[4, 0, 'Prime Minister of Italy']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1008653-1',
  'question': 'What is the English name of the country whose official native language is Dutch Papiamento?',
  'sql': {'sel': 0, 'conds': [[4, 0, 'Dutch Papiamento']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1008653-1',
  'question': 'What official or native languages are spoken in the country whose capital city is Canberra?',
  'sql': {'sel': 4, 'conds': [[1, 0, 'Canberra']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1008653-1',
  'question': 'What is the local name given to the city of Canberra?',
  'sql': {'sel': 3, 'conds': [[1, 0, 'Canberra']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1008653-1',
  'question': 'What is the local name given to the capital of Anguilla?',
  'sql': {'sel': 3, 'conds': [[2, 0, 'Anguilla']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1008653-1',
  'question': "What is the English name given to the city of St. John's?",
  'sql': {'sel': 1, 'conds': [[3, 0, "St. John's"]], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1008653-1',
  'question': 'How many capital cities does Australia have?',
  'sql': {'sel': 3, 'conds': [[2, 0, 'Australia']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10088101-1',
  'question': 'The episode with production code 9abx02 was originally aired on what date?',
  'sql': {'sel': 5, 'conds': [[6, 0, '9ABX02']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10088101-1',
  'question': 'What is the episode number that has production code 8abx15?',
  'sql': {'sel': 1, 'conds': [[6, 0, '8ABX15']], 'agg': 2}},
 {'phase': 1,
  'table_id': '1-10295819-2',
  'question': 'Name the minimum tiesplayed for 6 years',
  'sql': {'sel': 5, 'conds': [[4, 0, 6]], 'agg': 2}},
 {'phase': 1,
  'table_id': '1-10342194-3',
  'question': 'What is the amount of trees, that require replacement when prevailing types, % is pine — 29.37 poplar — 26.12 acer negundo — 13.2?',
  'sql': {'sel': 4,
   'conds': [[2, 0, 'Pine — 29.37 Poplar — 26.12 Acer negundo — 13.2']],
   'agg': 0}},
 {'phase': 1,
  'table_id': '1-10342194-3',
  'question': 'What is the amount of trees, that require replacement when district is leninsky?',
  'sql': {'sel': 4, 'conds': [[0, 0, 'Leninsky']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10342194-3',
  'question': 'What is the district when the total amount of trees is smaller than 150817.6878461314 and amount of old trees is 1,928 (1.89%)?',
  'sql': {'sel': 0,
   'conds': [[1, 2, 150817.6878461314], [3, 0, '1,928 (1.89%)']],
   'agg': 0}},
 {'phase': 1,
  'table_id': '1-10342194-3',
  'question': 'What is the amount of trees, that require replacement when the district is motovilikhinsky?',
  'sql': {'sel': 4, 'conds': [[0, 0, 'Motovilikhinsky']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10342194-3',
  'question': 'What is the total amount of trees when district is leninsky?',
  'sql': {'sel': 1, 'conds': [[0, 0, 'Leninsky']], 'agg': 1}},
 {'phase': 1,
  'table_id': '1-10342194-3',
  'question': 'What is the district when prevailing types, % is acer negundo — 30.22 tilia — 18.6 poplar — 15.23?',
  'sql': {'sel': 0,
   'conds': [[2, 0, 'Acer negundo — 30.22 Tilia — 18.6 Poplar — 15.23']],
   'agg': 0}},
 {'phase': 1,
  'table_id': '1-10429820-13',
  'question': 'When the value of "since beginning of big 12" is synonymous with its\' category, what are the in Ames values?',
  'sql': {'sel': 2, 'conds': [[8, 0, 'Since Beginning of Big 12']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1046170-5',
  'question': "what's the\xa0u.s. open cup status\xa0for regular season\xa0of 4th, atlantic division ",
  'sql': {'sel': 5, 'conds': [[3, 0, '4th, Atlantic Division']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1046170-5',
  'question': 'how many division  did not qualify for u.s. open cup in 2003',
  'sql': {'sel': 1,
   'conds': [[5, 0, 'Did Not Qualify'], [0, 0, 2003]],
   'agg': 0}},
 {'phase': 1,
  'table_id': '1-1046170-5',
  'question': 'which round is u.s. open cup division semifinals',
  'sql': {'sel': 5, 'conds': [[4, 0, 'Division Semifinals']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1046170-5',
  'question': 'what are all the playoffs for regular season is 1st, atlantic division',
  'sql': {'sel': 4, 'conds': [[3, 0, '1st, Atlantic Division']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1046170-5',
  'question': 'what are all the playoffs for u.s. open cup in 1st round',
  'sql': {'sel': 4, 'conds': [[5, 0, '1st Round']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1061075-1',
  'question': 'what is the total number of\xa02nd leg\xa0where\xa0aggregate\xa0is 7-2',
  'sql': {'sel': 5, 'conds': [[6, 0, '7-2']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-1061075-1',
  'question': " what's the\xa0aggregate\xa0where\xa01st leg\xa0is 3–2",
  'sql': {'sel': 6, 'conds': [[4, 0, '3–2']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1061075-1',
  'question': " what's the\xa0competition\xa0where\xa0aggregate\xa0is 4–7",
  'sql': {'sel': 1, 'conds': [[6, 0, '4–7']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1061075-1',
  'question': " what's the\xa0competition\xa0where\xa01st leg\xa0is 4-1 (h)",
  'sql': {'sel': 1, 'conds': [[4, 0, '4-1 (h)']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1061075-1',
  'question': 'what is the total number of\xa0round\xa0where\xa0opponents\xa0is haugar',
  'sql': {'sel': 2, 'conds': [[3, 0, 'Haugar']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-1061075-1',
  'question': " what's the\xa01st leg\xa0where\xa0opponents\xa0is galatasaray",
  'sql': {'sel': 4, 'conds': [[3, 0, 'Galatasaray']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10706961-2',
  'question': 'What is the highest Rd that Tom Sneva had the pole position in?',
  'sql': {'sel': 0, 'conds': [[2, 0, 'Tom Sneva']], 'agg': 1}},
 {'phase': 1,
  'table_id': '1-10706961-2',
  'question': 'How many winning drivers were there in the race that had a fastest lap time of 56.920?',
  'sql': {'sel': 4, 'conds': [[3, 0, '56.920']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10706961-2',
  'question': 'How many reports are there in the race that Forsythe Racing won and Teo Fabi had the pole position in?',
  'sql': {'sel': 6,
   'conds': [[5, 0, 'Forsythe Racing'], [2, 0, 'Teo Fabi']],
   'agg': 3}},
 {'phase': 1,
  'table_id': '1-10706961-2',
  'question': 'Which Rd took place at the Indianapolis 500?',
  'sql': {'sel': 0, 'conds': [[1, 0, 'Indianapolis 500']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10706961-2',
  'question': 'Which teams won when Bobby Rahal was their winning driver?',
  'sql': {'sel': 5, 'conds': [[4, 0, 'Bobby Rahal']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10706961-2',
  'question': 'What was the fastest lap time in the Escort Radar Warning 200?',
  'sql': {'sel': 3, 'conds': [[1, 0, 'Escort Radar Warning 200']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10707176-2',
  'question': 'What report was there for the porsche north america?',
  'sql': {'sel': 8, 'conds': [[7, 0, 'Porsche North America']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10707176-2',
  'question': 'What rnds were there for the phoenix international raceway?',
  'sql': {'sel': 0,
   'conds': [[2, 0, 'Phoenix International Raceway']],
   'agg': 0}},
 {'phase': 1,
  'table_id': '1-10707176-2',
  'question': 'Who was the pole position for the rnd equalling 12?',
  'sql': {'sel': 5, 'conds': [[0, 0, '12']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10707176-2',
  'question': 'How many reports were the for the cleveland burke lakefront airport circut?',
  'sql': {'sel': 8,
   'conds': [[2, 0, 'Cleveland Burke Lakefront Airport']],
   'agg': 3}},
 {'phase': 1,
  'table_id': '1-10707176-2',
  'question': 'How many winning drivers were the for the rnd equalling 5?',
  'sql': {'sel': 6, 'conds': [[0, 0, '5']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10706879-3',
  'question': 'The race tony bettenhausen 200 has what smallest rd?',
  'sql': {'sel': 0, 'conds': [[1, 0, 'Tony Bettenhausen 200']], 'agg': 2}},
 {'phase': 1,
  'table_id': '1-10706879-3',
  'question': 'The winning team of the race, los angeles times 500 is who?',
  'sql': {'sel': 5, 'conds': [[1, 0, 'Los Angeles Times 500']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10706879-3',
  'question': 'How many winning drivers in the kraco twin 125 (r2) race were there?',
  'sql': {'sel': 4, 'conds': [[1, 0, 'Kraco Twin 125 (R2)']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10706879-3',
  'question': 'What are the races that johnny rutherford has won?',
  'sql': {'sel': 1, 'conds': [[4, 0, 'Johnny Rutherford']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10706879-3',
  'question': 'How many fastest laps were there for a rd that equals 10?',
  'sql': {'sel': 3, 'conds': [[0, 0, 10]], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10712301-5',
  'question': 'What is the license award date for North East England?',
  'sql': {'sel': 2, 'conds': [[0, 0, 'North East England']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10733530-3',
  'question': 'What is the percentage of growth in 2000-2008 in ethiopia?',
  'sql': {'sel': 4, 'conds': [[0, 0, 'Ethiopia']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10733530-3',
  'question': 'Name the total number of percentage growth 2000-2008 of uganda?',
  'sql': {'sel': 4, 'conds': [[0, 0, 'Uganda']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10733530-3',
  'question': 'What is the maximum percentage grown 2000-2008 in burundi',
  'sql': {'sel': 4, 'conds': [[0, 0, 'Burundi']], 'agg': 1}},
 {'phase': 1,
  'table_id': '1-10798421-1',
  'question': 'Provide me with the names of all the villages (German) that has 76.3% of Slovenes in 1951.',
  'sql': {'sel': 0, 'conds': [[4, 0, '76.3%']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10798421-1',
  'question': 'Give me the minimum number of people in 1991 with 92.5% of Slovenes in 1991.',
  'sql': {'sel': 2, 'conds': [[3, 0, '92.5%']], 'agg': 2}},
 {'phase': 1,
  'table_id': '1-10798421-1',
  'question': 'Provide me with the name of all the village (German) that are part of the village (Slovenian) with sele srednji kot. ',
  'sql': {'sel': 0, 'conds': [[1, 0, 'Sele Srednji Kot']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10798421-1',
  'question': 'Provide me with the name of all the village (German) that are part of the village (Slovenian) with sele borovnica.',
  'sql': {'sel': 0, 'conds': [[1, 0, 'Sele Borovnica']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10798421-1',
  'question': 'Provide me with the name of the village (German) where there is 96.9% Slovenes in 1951. ',
  'sql': {'sel': 0, 'conds': [[4, 0, '96.9%']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10798421-1',
  'question': 'Provide with the names of the village (German) that is part of village (Slovenian) with sele srednji kot.',
  'sql': {'sel': 0, 'conds': [[1, 0, 'Sele Srednji Kot']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10812293-3',
  'question': 'What was the score of the game on November 12?',
  'sql': {'sel': 3, 'conds': [[1, 0, 'November 12']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10812293-3',
  'question': 'Who had high assists when they played against San Antonio?',
  'sql': {'sel': 6, 'conds': [[2, 0, 'San Antonio']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10812293-3',
  'question': 'Who scored the most points in game 4?',
  'sql': {'sel': 4, 'conds': [[0, 0, 4]], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10812293-3',
  'question': 'Where was the game on November 20?',
  'sql': {'sel': 7, 'conds': [[1, 0, 'November 20']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10935205-1',
  'question': 'The canadian airdate of 11 february 2008 applied to what series number?',
  'sql': {'sel': 1, 'conds': [[3, 0, '11 February 2008']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10935205-1',
  'question': 'The U.S. airdate of 4 april 2008 had a production code of what?',
  'sql': {'sel': 5, 'conds': [[4, 0, '4 April 2008']], 'agg': 1}},
 {'phase': 1,
  'table_id': '1-10935205-1',
  'question': 'The episode titled "don\'t stop believin\'" was what highest number of the season?',
  'sql': {'sel': 0, 'conds': [[2, 0, '"Don\'t Stop Believin\'"']], 'agg': 1}},
 {'phase': 1,
  'table_id': '1-10935205-1',
  'question': 'The U.S. airdate of 8 august 2008 also had canadian airdates of what?',
  'sql': {'sel': 3, 'conds': [[4, 0, '8 August 2008']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10935205-1',
  'question': 'The canadian airdate of 17 march 2008 had how many numbers in the season?',
  'sql': {'sel': 0, 'conds': [[3, 0, '17 March 2008']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10935205-1',
  'question': 'For the episode(s) aired in the U.S. on 4 april 2008, what were the names?',
  'sql': {'sel': 2, 'conds': [[4, 0, '4 April 2008']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10953197-5',
  'question': 'Who directed the episode "Great Sexpectations (2)"?',
  'sql': {'sel': 3, 'conds': [[2, 0, '"Great Sexpectations (2)"']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10975034-2',
  'question': 'Which player from the 2004 CFL draft attended Wilfrid Laurier?',
  'sql': {'sel': 2, 'conds': [[4, 0, 'Wilfrid Laurier']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10975034-2',
  'question': 'What position does Christian Leibl-Cote play?',
  'sql': {'sel': 3, 'conds': [[2, 0, 'Christian Leibl-Cote']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-10975034-2',
  'question': 'What is the pick number for Northwestern college?',
  'sql': {'sel': 0, 'conds': [[4, 0, 'Northwestern']], 'agg': 1}},
 {'phase': 1,
  'table_id': '1-10992-3',
  'question': 'How many foreigners in percentage terms had a population of 4.911?',
  'sql': {'sel': 5, 'conds': [[3, 0, '4.911']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10992-3',
  'question': 'What is the number of the city district of stadtteil where foreigners are 5.162?',
  'sql': {'sel': 1, 'conds': [[4, 0, '5.162']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-10992-3',
  'question': 'What is the city where the number is 47?',
  'sql': {'sel': 1, 'conds': [[0, 0, '47']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11044765-1',
  'question': 'Which leagues have Raiders as their mascot?',
  'sql': {'sel': 3, 'conds': [[1, 0, 'Raiders']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11044765-1',
  'question': 'Which leagues is the Galena school in?',
  'sql': {'sel': 3, 'conds': [[0, 0, 'Galena']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11044765-1',
  'question': 'What city and state is the Lancers mascot located?',
  'sql': {'sel': 2, 'conds': [[1, 0, 'Lancers']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11044765-1',
  'question': 'What city and state are the miners located in?',
  'sql': {'sel': 2, 'conds': [[1, 0, 'Miners']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11044765-1',
  'question': 'Which school has the Raiders as their mascot?',
  'sql': {'sel': 0, 'conds': [[1, 0, 'Raiders']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1121352-2',
  'question': 'Where was the tournament dated nov 3, 2002?',
  'sql': {'sel': 2, 'conds': [[1, 0, 'Nov 3, 2002']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1121352-2',
  'question': 'Where is the margin of victory dated mar 28, 2004?',
  'sql': {'sel': 5, 'conds': [[1, 0, 'Mar 28, 2004']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1121352-2',
  'question': 'What is the to par dated may 4, 2003?',
  'sql': {'sel': 4, 'conds': [[1, 0, 'May 4, 2003']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-1121352-2',
  'question': 'What date were the runner ups pat hurst juli inkster?',
  'sql': {'sel': 1, 'conds': [[6, 0, 'Pat Hurst Juli Inkster']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11210576-4',
  'question': "what's the total number of\xa0final epbeingode count\xa0with\xa0character\xa0being rick stetler",
  'sql': {'sel': 6, 'conds': [[0, 0, 'Rick Stetler']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-11210576-4',
  'question': 'what are all the actor where first episode is "ambush"',
  'sql': {'sel': 2, 'conds': [[3, 0, '"Ambush"']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11210576-4',
  'question': "what's the\xa0character\xa0with\xa0fate\xa0being deceased: knife wound",
  'sql': {'sel': 0, 'conds': [[1, 0, 'Deceased: Knife Wound']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11210576-4',
  'question': 'what\'s the total number of\xa0final epbeingode count\xa0with\xa0first epbeingode\xa0being "l.a."',
  'sql': {'sel': 6, 'conds': [[3, 0, '"L.A."']], 'agg': 3}},
 {'phase': 1,
  'table_id': '1-11210576-4',
  'question': "what's the\xa0actor\xa0with\xa0character\xa0being judge joseph ratner",
  'sql': {'sel': 2, 'conds': [[0, 0, 'Judge Joseph Ratner']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11210576-4',
  'question': 'what\'s the\xa0first epbeingode\xa0with\xa0final epbeingode\xa0being "rio"',
  'sql': {'sel': 3, 'conds': [[4, 0, '"Rio"']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11214772-2',
  'question': 'Which team was the second semi finalist in 2007?',
  'sql': {'sel': 6, 'conds': [[0, 0, 2007]], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11214772-2',
  'question': 'How many teams were listed as runner up in 2005 and there the first semi finalist was Western Carolina?',
  'sql': {'sel': 3,
   'conds': [[5, 0, 'Western Carolina'], [0, 0, 2005]],
   'agg': 3}},
 {'phase': 1,
  'table_id': '1-11214772-2',
  'question': 'List the scores of all games when Miami were listed as the first Semi finalist',
  'sql': {'sel': 2, 'conds': [[5, 0, 'Miami']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11214772-2',
  'question': 'When Embry-Riddle made it to the first semi finalist slot, list all the runners up.',
  'sql': {'sel': 3, 'conds': [[5, 0, 'Embry-Riddle']], 'agg': 0}},
 {'phase': 1,
  'table_id': '1-11214772-2',

In [7]:
for i in question:
    if(type(i["sql"]["sel"])!=int):
        print("asdf")

In [8]:
[len(q["sql"]["conds"]) for q in question]

[1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 3,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 ...]

In [9]:
table = [json.loads(member) for member in table_text_lis]
table= {member["id"]:member for member in table}

In [10]:
table["1-10015132-11"]

{'header': ['Player',
  'No.',
  'Nationality',
  'Position',
  'Years in Toronto',
  'School/Club Team'],
 'page_title': 'Toronto Raptors all-time roster',
 'types': ['text', 'text', 'text', 'text', 'text', 'text'],
 'id': '1-10015132-11',
 'section_title': 'L',
 'caption': 'L',
 'rows': [['Antonio Lang',
   '21',
   'United States',
   'Guard-Forward',
   '1999-2000',
   'Duke'],
  ['Voshon Lenard', '2', 'United States', 'Guard', '2002-03', 'Minnesota'],
  ['Martin Lewis',
   '32, 44',
   'United States',
   'Guard-Forward',
   '1996-97',
   'Butler CC (KS)'],
  ['Brad Lohaus', '33', 'United States', 'Forward-Center', '1996', 'Iowa'],
  ['Art Long',
   '42',
   'United States',
   'Forward-Center',
   '2002-03',
   'Cincinnati'],
  ['John Long', '25', 'United States', 'Guard', '1996-97', 'Detroit'],
  ['Kyle Lowry', '3', 'United States', 'Guard', '2012-Present', 'Villanova']],
 'name': 'table_10015132_11'}

In [11]:
agg_ops = ['', 'MAX', 'MIN', 'COUNT', 'SUM', 'AVG']
cond_ops = ['=', '>', '<', 'OP']
syms = ['SELECT', 'WHERE', 'AND', 'COL', 'TABLE', 'CAPTION', 'PAGE', 'SECTION', 'OP', 'COND', 'QUESTION', 'AGG', 'AGGOPS', 'CONDOPS']

In [12]:
def to_sql(question, table):
    def get_conds(conds):
        if len(conds)==0:
            return ""
        re="WHERE "
        for i, member in enumerate(conds):
            if i!=0:
                re+='AND '
            re+="col{}".format(member[0])+" "+cond_ops[member[1]]+" col{}".format(member[0])+' '
        return re
    def sub_to_sql(q):
        re="SELECT "
        tid=q["table_id"]
        sel=q["sql"]["sel"]
        conds=q["sql"]["conds"]
        if q["sql"]["agg"]!=0:
            re+=agg_ops[q["sql"]["agg"]]+'('
            re+="col{}".format(sel)
            re+=')'
        else:
            re+="col{}".format(sel)
        re+=" FROM table_{} ".format(tid.replace('-',"_"))
        re+=get_conds(conds)
        return re
    re=[sub_to_sql(member) for member in question]
    return re

In [51]:
lis=to_sql(question, table)

In [52]:
lis

['SELECT Position FROM 1-10015132-11 WHERE School/Club Team = Butler CC (KS) ',
 'SELECT COUNT(School/Club Team) FROM 1-10015132-11 WHERE No. = 3 ',
 'SELECT School/Club Team FROM 1-10015132-11 WHERE No. = 21 ',
 'SELECT Player FROM 1-10015132-11 WHERE No. = 42 ',
 'SELECT Player FROM 1-10015132-11 WHERE Position = Guard AND Years in Toronto = 1996-97 ',
 'SELECT Player FROM 1-10015132-9 WHERE School/Club Team = Westchester High School ',
 'SELECT School/Club Team FROM 1-10015132-9 WHERE Player = Amir Johnson ',
 'SELECT COUNT(No.) FROM 1-10015132-9 WHERE Years in Toronto = 2005-06 ',
 'SELECT COUNT(Position) FROM 1-10015132-9 WHERE Years in Toronto = 2006-07 ',
 'SELECT Nationality FROM 1-10015132-9 WHERE School/Club Team = Fresno State ',
 'SELECT School/Club Team FROM 1-10015132-9 WHERE Player = Trey Johnson ',
 'SELECT Ended time as senior G8 leader FROM 1-10026563-1 WHERE Person = Jacques Chirac ',
 'SELECT Entered office as Head of State or Government FROM 1-10026563-1 WHERE Office = Prime Minister of Italy ',
 'SELECT Country ( exonym ) FROM 1-1008653-1 WHERE Official or native language(s) (alphabet/script) = Dutch Papiamento ',
 'SELECT Official or native language(s) (alphabet/script) FROM 1-1008653-1 WHERE Capital ( exonym ) = Canberra ',
 'SELECT Capital ( endonym ) FROM 1-1008653-1 WHERE Capital ( exonym ) = Canberra ',
 'SELECT Capital ( endonym ) FROM 1-1008653-1 WHERE Country ( endonym ) = Anguilla ',
 "SELECT Capital ( exonym ) FROM 1-1008653-1 WHERE Capital ( endonym ) = St. John's ",
 'SELECT COUNT(Capital ( endonym )) FROM 1-1008653-1 WHERE Country ( endonym ) = Australia ',
 'SELECT Original air date FROM 1-10088101-1 WHERE Production code = 9ABX02 ',
 'SELECT MIN(No. in series) FROM 1-10088101-1 WHERE Production code = 8ABX15 ',
 'SELECT MIN(Ties played) FROM 1-10295819-2 WHERE Years played = 6 ',
 'SELECT Amount of trees, that require replacement FROM 1-10342194-3 WHERE Prevailing types, % = Pine — 29.37 Poplar — 26.12 Acer negundo — 13.2 ',
 'SELECT Amount of trees, that require replacement FROM 1-10342194-3 WHERE District = Leninsky ',
 'SELECT District FROM 1-10342194-3 WHERE Total amount of trees < 150817.6878461314 AND Amount of old trees = 1,928 (1.89%) ',
 'SELECT Amount of trees, that require replacement FROM 1-10342194-3 WHERE District = Motovilikhinsky ',
 'SELECT MAX(Total amount of trees) FROM 1-10342194-3 WHERE District = Leninsky ',
 'SELECT District FROM 1-10342194-3 WHERE Prevailing types, % = Acer negundo — 30.22 Tilia — 18.6 Poplar — 15.23 ',
 'SELECT in Ames FROM 1-10429820-13 WHERE Since Beginning of Big 12 = Since Beginning of Big 12 ',
 'SELECT U.S. Open Cup FROM 1-1046170-5 WHERE Regular Season = 4th, Atlantic Division ',
 'SELECT Division FROM 1-1046170-5 WHERE U.S. Open Cup = Did Not Qualify AND Year = 2003 ',
 'SELECT U.S. Open Cup FROM 1-1046170-5 WHERE Playoffs = Division Semifinals ',
 'SELECT Playoffs FROM 1-1046170-5 WHERE Regular Season = 1st, Atlantic Division ',
 'SELECT Playoffs FROM 1-1046170-5 WHERE U.S. Open Cup = 1st Round ',
 'SELECT COUNT(2nd leg) FROM 1-1061075-1 WHERE Aggregate = 7-2 ',
 'SELECT Aggregate FROM 1-1061075-1 WHERE 1st leg = 3–2 ',
 'SELECT Competition FROM 1-1061075-1 WHERE Aggregate = 4–7 ',
 'SELECT Competition FROM 1-1061075-1 WHERE 1st leg = 4-1 (h) ',
 'SELECT COUNT(Round) FROM 1-1061075-1 WHERE Opponents = Haugar ',
 'SELECT 1st leg FROM 1-1061075-1 WHERE Opponents = Galatasaray ',
 'SELECT MAX(Rd) FROM 1-10706961-2 WHERE Pole Position = Tom Sneva ',
 'SELECT COUNT(Winning driver) FROM 1-10706961-2 WHERE Fastest Lap = 56.920 ',
 'SELECT COUNT(Report) FROM 1-10706961-2 WHERE Winning team = Forsythe Racing AND Pole Position = Teo Fabi ',
 'SELECT Rd FROM 1-10706961-2 WHERE Name = Indianapolis 500 ',
 'SELECT Winning team FROM 1-10706961-2 WHERE Winning driver = Bobby Rahal ',
 'SELECT Fastest Lap FROM 1-10706961-2 WHERE Name = Escort Radar Warning 200 ',
 'SELECT Report FROM 1-10707176-2 WHERE Winning team = Porsche North America ',
 'SELECT Rnd FROM 1-10707176-2 WHERE Circuit = Phoenix International Raceway ',
 'SELECT Pole position FROM 1-10707176-2 WHERE Rnd = 12 ',
 'SELECT COUNT(Report) FROM 1-10707176-2 WHERE Circuit = Cleveland Burke Lakefront Airport ',
 'SELECT COUNT(Winning driver) FROM 1-10707176-2 WHERE Rnd = 5 ',
 'SELECT MIN(Rd) FROM 1-10706879-3 WHERE Name = Tony Bettenhausen 200 ',
 'SELECT Winning team FROM 1-10706879-3 WHERE Name = Los Angeles Times 500 ',
 'SELECT COUNT(Winning driver) FROM 1-10706879-3 WHERE Name = Kraco Twin 125 (R2) ',
 'SELECT Name FROM 1-10706879-3 WHERE Winning driver = Johnny Rutherford ',
 'SELECT COUNT(Fastest Lap) FROM 1-10706879-3 WHERE Rd = 10 ',
 'SELECT Licence award date FROM 1-10712301-5 WHERE Region = North East England ',
 'SELECT % growth (2000–2008) FROM 1-10733530-3 WHERE Nation = Ethiopia ',
 'SELECT COUNT(% growth (2000–2008)) FROM 1-10733530-3 WHERE Nation = Uganda ',
 'SELECT MAX(% growth (2000–2008)) FROM 1-10733530-3 WHERE Nation = Burundi ',
 'SELECT Village (German) FROM 1-10798421-1 WHERE Percent of Slovenes 1951 = 76.3% ',
 'SELECT MIN(Number of people 1991) FROM 1-10798421-1 WHERE Percent of Slovenes 1991 = 92.5% ',
 'SELECT Village (German) FROM 1-10798421-1 WHERE Village (Slovenian) = Sele Srednji Kot ',
 'SELECT Village (German) FROM 1-10798421-1 WHERE Village (Slovenian) = Sele Borovnica ',
 'SELECT Village (German) FROM 1-10798421-1 WHERE Percent of Slovenes 1951 = 96.9% ',
 'SELECT Village (German) FROM 1-10798421-1 WHERE Village (Slovenian) = Sele Srednji Kot ',
 'SELECT Score FROM 1-10812293-3 WHERE Date = November 12 ',
 'SELECT High assists FROM 1-10812293-3 WHERE Team = San Antonio ',
 'SELECT High points FROM 1-10812293-3 WHERE Game = 4 ',
 'SELECT Location Attendance FROM 1-10812293-3 WHERE Date = November 20 ',
 'SELECT COUNT(No. in series) FROM 1-10935205-1 WHERE Canadian airdate = 11 February 2008 ',
 'SELECT MAX(Production code) FROM 1-10935205-1 WHERE US airdate = 4 April 2008 ',
 'SELECT MAX(No. in season) FROM 1-10935205-1 WHERE Title = "Don\'t Stop Believin\'" ',
 'SELECT Canadian airdate FROM 1-10935205-1 WHERE US airdate = 8 August 2008 ',
 'SELECT COUNT(No. in season) FROM 1-10935205-1 WHERE Canadian airdate = 17 March 2008 ',
 'SELECT Title FROM 1-10935205-1 WHERE US airdate = 4 April 2008 ',
 'SELECT Director FROM 1-10953197-5 WHERE Title = "Great Sexpectations (2)" ',
 'SELECT Player FROM 1-10975034-2 WHERE College = Wilfrid Laurier ',
 'SELECT Position FROM 1-10975034-2 WHERE Player = Christian Leibl-Cote ',
 'SELECT MAX(Pick #) FROM 1-10975034-2 WHERE College = Northwestern ',
 'SELECT COUNT(Foreign nationals in %) FROM 1-10992-3 WHERE Population = 4.911 ',
 'SELECT COUNT(City district (Stadtteil)) FROM 1-10992-3 WHERE Foreign nationals = 5.162 ',
 'SELECT City district (Stadtteil) FROM 1-10992-3 WHERE No = 47 ',
 'SELECT League FROM 1-11044765-1 WHERE Mascot = Raiders ',
 'SELECT League FROM 1-11044765-1 WHERE School = Galena ',
 'SELECT Location FROM 1-11044765-1 WHERE Mascot = Lancers ',
 'SELECT Location FROM 1-11044765-1 WHERE Mascot = Miners ',
 'SELECT School FROM 1-11044765-1 WHERE Mascot = Raiders ',
 'SELECT Tournament FROM 1-1121352-2 WHERE Date = Nov 3, 2002 ',
 'SELECT Margin of victory FROM 1-1121352-2 WHERE Date = Mar 28, 2004 ',
 'SELECT To par FROM 1-1121352-2 WHERE Date = May 4, 2003 ',
 'SELECT Date FROM 1-1121352-2 WHERE Runner(s)-up = Pat Hurst Juli Inkster ',
 'SELECT COUNT(Final Episode Count) FROM 1-11210576-4 WHERE Character = Rick Stetler ',
 'SELECT Actor FROM 1-11210576-4 WHERE First Episode = "Ambush" ',
 'SELECT Character FROM 1-11210576-4 WHERE Fate = Deceased: Knife Wound ',
 'SELECT COUNT(Final Episode Count) FROM 1-11210576-4 WHERE First Episode = "L.A." ',
 'SELECT Actor FROM 1-11210576-4 WHERE Character = Judge Joseph Ratner ',
 'SELECT First Episode FROM 1-11210576-4 WHERE Final Episode = "Rio" ',
 'SELECT Semi-Finalist #2 FROM 1-11214772-2 WHERE Year = 2007 ',
 'SELECT COUNT(Runner-Up) FROM 1-11214772-2 WHERE Semi-Finalist #1 = Western Carolina AND Year = 2005 ',
 'SELECT Score FROM 1-11214772-2 WHERE Semi-Finalist #1 = Miami ',
 'SELECT Runner-Up FROM 1-11214772-2 WHERE Semi-Finalist #1 = Embry-Riddle ',
 'SELECT Location FROM 1-11214772-2 WHERE Year = 2007 ',
 'SELECT COUNT(Round) FROM 1-1132600-3 WHERE Pole Position = Michael Schumacher AND Fastest Lap = David Coulthard AND Winning Constructor = McLaren - Mercedes ',
 'SELECT COUNT(Winning Driver) FROM 1-1132600-3 WHERE Grand Prix = Italian Grand Prix ',
 'SELECT Report FROM 1-1132600-3 WHERE Grand Prix = Belgian Grand Prix ',
 'SELECT Fastest Lap FROM 1-1132600-3 WHERE Grand Prix = Belgian Grand Prix ',
 'SELECT Date successor seated FROM 1-1134091-4 WHERE Vacator = Charles E. Chamberlain (R) ',
 'SELECT Successor FROM 1-1134091-4 WHERE Vacator = Chester E. Holifield (D) ',
 'SELECT Date successor seated FROM 1-1134091-4 WHERE District = California 10th ',
 'SELECT Vacator FROM 1-1134091-4 WHERE Date successor seated = August 21, 1973 ',
 'SELECT District FROM 1-1134091-4 WHERE Reason for change = Died January 1, 1974 ',
 'SELECT Route Name FROM 1-11336756-6 WHERE Remarks = Replaced by US 81 ',
 'SELECT Junctions FROM 1-11336756-6 WHERE Remarks = Replaced by BSI-35 ',
 'SELECT COUNT(Junctions) FROM 1-11336756-6 WHERE Remarks = Replaced by BSI-35 ',
 'SELECT Length FROM 1-11336756-6 WHERE Remarks = Replaced by US 81 ',
 'SELECT Population Area FROM 1-11336756-6 WHERE Remarks = Replaced by US 83 ',
 'SELECT COUNT(Termini) FROM 1-11336756-6 WHERE Direction = East West AND Junctions = none AND Route Name = SH 202 ',
 'SELECT Kickoff [a ] FROM 1-11449311-2 WHERE TV = CBS AND Opponent = St. Louis Cardinals ',
 'SELECT Result FROM 1-11449311-2 WHERE Record = 2-13 ',
 'SELECT Vault FROM 1-11542215-3 WHERE Total = 56.635 ',
 'SELECT Total FROM 1-11542215-3 WHERE Floor Exercise = 9.287 ',
 'SELECT Margin FROM 1-11570261-1 WHERE Runner(s)-up = Phil Mickelson ',
 'SELECT Runner(s)-up FROM 1-11570261-1 WHERE 54 holes = Tied for lead AND Margin = 5 strokes ',
 'SELECT Championship FROM 1-11570261-1 WHERE 54 holes = 1 shot lead AND Runner(s)-up = Chris DiMarco ',
 'SELECT MIN(Year) FROM 1-11570261-1 WHERE Winning score = −8 (71-63-69-69=272) ',
 'SELECT Championship FROM 1-11570261-1 WHERE Winning score = −12 (74-66-65-71=276) ',
 'SELECT 54 holes FROM 1-11570261-1 WHERE Winning score = −19 (67-66-67-69=269) ',
 'SELECT Title FROM 1-11589522-3 WHERE Original air date = January18,2009 ',
 'SELECT Original air date FROM 1-11589522-3 WHERE Written by = Iain Morris & Damon Beesley ',
 'SELECT Allied forces FROM 1-1160161-12 WHERE Target = Woensdrecht ',
 'SELECT Target Code (Allied) FROM 1-1160161-12 WHERE Target = Ghent/Sint-Denijs-Westrem ',
 'SELECT Date of Entry FROM 1-1160304-2 WHERE Chart = UK Albums Top 75 ',
 'SELECT COUNT(Weeks on Peak) FROM 1-1160304-2 WHERE Chart = Ireland Albums Top 75 ',
 'SELECT Date of Exit FROM 1-1160304-2 WHERE Chart = Dutch Albums Top 100 ',
 'SELECT COUNT(constancy) FROM 1-11609814-1 WHERE purity = falling ',
 'SELECT permanence of the body FROM 1-11609814-1 WHERE purity = Rudra ',
 'SELECT permanence of the body FROM 1-11609814-1 WHERE purity = apprehension ',
 'SELECT permanence of the body FROM 1-11609814-1 WHERE penance = the undifferenced ',
 'SELECT constancy FROM 1-11609814-1 WHERE permanence of the body = meditation ',
 'SELECT permanence of the body FROM 1-11609814-1 WHERE constancy = interestedness ',
 'SELECT Original air date FROM 1-11630008-8 WHERE Title = "Firestorm" ',
 'SELECT Title FROM 1-11630008-8 WHERE Production code = 624 ',
 'SELECT Original air date FROM 1-11630008-8 WHERE Written by = Karen Felix and Don Woodard ',
 'SELECT COUNT(Species in the Peruvian Amazon) FROM 1-11727969-1 WHERE Species in the world = 8411 ',
 'SELECT MIN(Species in the Peruvian Amazon) FROM 1-11727969-1 WHERE Taxonomy = s Fern ( Pteridophyta ) ',
 'SELECT Species in the world FROM 1-11727969-1 WHERE Peruvian Amazon Vs. Peru (Percent) = 63 ',
 'SELECT MIN(Species in the Peruvian Amazon) FROM 1-11727969-1 WHERE Species in Peru = 1000 ',
 'SELECT MIN(Species in the Peruvian Amazon) FROM 1-11727969-1 WHERE Peru Vs. world (Percent) = 7 ',
 'SELECT MAX(Peru Vs. world (Percent)) FROM 1-11727969-1 WHERE Species in the world = 9672 ',
 'SELECT School/Club Team/Country FROM 1-11734041-2 WHERE No.(s) = 10 AND Position = Forward ',
 'SELECT Height in Ft. FROM 1-11734041-2 WHERE School/Club Team/Country = Hartford ',
 'SELECT Years for Rockets FROM 1-11734041-2 WHERE School/Club Team/Country = LaSalle ',
 'SELECT Position FROM 1-11734041-2 WHERE Height in Ft. = 6-6 AND No.(s) = 35 ',
 'SELECT Player FROM 1-11734041-9 WHERE Years for Rockets = 1986-92 ',
 'SELECT No.(s) FROM 1-11734041-9 WHERE School/Club Team/Country = Southern University ',
 'SELECT Height in Ft. FROM 1-11734041-9 WHERE Player = Jones, Major Major Jones ',
 'SELECT Member FROM 1-11764007-2 WHERE Week Sent To Third Island = 1 ',
 'SELECT Week Sent To Third Island FROM 1-11764007-2 WHERE Week Arrived On Main Island = 6 ',
 'SELECT COUNT(Member) FROM 1-11764007-2 WHERE Week Arrived On Main Island = 4 ',
 'SELECT Week Arrived On Main Island FROM 1-11764007-2 WHERE Original Tribe = Shark AND Week Sent To Third Island = 14 ',
 'SELECT No. of Sikhs FROM 1-11800185-1 WHERE Country = Japan ',
 'SELECT Evening Gown FROM 1-11884814-3 WHERE Swimsuit = 9.61 ',
 'SELECT Swimsuit FROM 1-11884814-3 WHERE Interview = 9.74 ',
 'SELECT Country FROM 1-11884814-3 WHERE Interview = 9.40 AND Average = 9.44 ',
 'SELECT Country FROM 1-11884814-3 WHERE Swimsuit = 9.67 ',
 'SELECT Average FROM 1-11884814-3 WHERE Swimsuit = 9.57 ',
 'SELECT Interview FROM 1-11884814-3 WHERE Country = Hawaii ',
 'SELECT Date FROM 1-11960407-5 WHERE Game = 50 ',
 'SELECT High points FROM 1-11960407-5 WHERE Game = 49 ',
 'SELECT COUNT(Team) FROM 1-11961582-6 WHERE Location Attendance = Philips Arena 19,335 ',
 'SELECT Team FROM 1-11961582-6 WHERE Location Attendance = Philips Arena 18,227 ',
 'SELECT Record FROM 1-11964047-7 WHERE Score = W 98–91 ',
 'SELECT Record FROM 1-11964047-7 WHERE Score = L 109–116 2 OT ',
 'SELECT Visitor FROM 1-11964047-7 WHERE Record = 25–18 ',
 'SELECT Visitor FROM 1-11964047-7 WHERE Leading scorer = Roy : 25 ',
 'SELECT COUNT(Date) FROM 1-11964047-7 WHERE Leading scorer = Gordon : 32 ',
 'SELECT Home FROM 1-11964047-5 WHERE Streak = L3 AND Leading scorer = Roy : 23 ',
 'SELECT Attendance FROM 1-11964047-5 WHERE Score = L 92–101 ',
 'SELECT COUNT(Date) FROM 1-11964047-5 WHERE Visitor = New Jersey Nets ',
 'SELECT Leading scorer FROM 1-11964047-5 WHERE Home = Charlotte Bobcats ',
 'SELECT Score FROM 1-11964047-5 WHERE Record = 0–2 ',
 'SELECT COUNT(Record) FROM 1-11964047-5 WHERE Streak = L2 AND Leading scorer = Roy : 23 ',
 'SELECT Location Attendance FROM 1-11965481-13 WHERE Date = June 10 ',
 'SELECT COUNT(Game) FROM 1-11965481-13 WHERE Date = June 12 ',
 'SELECT Series FROM 1-11965481-13 WHERE Date = June 5 ',
 'SELECT Written by FROM 1-12030612-3 WHERE Series # = 25 ',
 'SELECT Season # FROM 1-12030612-3 WHERE Written by = Michael Poryes ',
 'SELECT Original air date FROM 1-12030612-3 WHERE Written by = Michael Poryes ',
 'SELECT MAX(Season #) FROM 1-12030612-3 WHERE Title = "When Worlds Collide" ',
 'SELECT Somerset FROM 1-12043148-2 WHERE Year = 2009 ',
 'SELECT Bristol & N. Som FROM 1-12043148-2 WHERE Somerset = Ashcott and Shapwick ',
 'SELECT MAX(Year) FROM 1-12043148-2 WHERE Glos & Wilts = Warminster ',
 'SELECT Glos & Wilts FROM 1-12043148-2 WHERE Bristol & Somerset = Lansdown ',
 'SELECT Year FROM 1-12043148-2 WHERE Glos & Wilts = Gloucester City Winget ',
 'SELECT COUNT(Premier Two) FROM 1-12043148-2 WHERE Gloucestershire = Painswick ',
 'SELECT Preliminaries FROM 1-12094609-1 WHERE Evening Gown = 8.988 ',
 'SELECT Swimsuit FROM 1-12094609-1 WHERE Average = 8.670 ',
 'SELECT Evening Gown FROM 1-12094609-1 WHERE Preliminaries = 8.977 ',
 'SELECT Preliminaries FROM 1-12094609-1 WHERE State = South Dakota ',
 'SELECT Evening Gown FROM 1-12094609-1 WHERE State = South Dakota ',
 'SELECT COUNT(Average) FROM 1-12094609-1 WHERE Evening Gown = 8.988 ',
 'SELECT Mens singles FROM 1-12104319-1 WHERE Womens doubles = Marina Yakusheva Elena Shimko ',
 'SELECT Womens singles FROM 1-12104319-1 WHERE Mens doubles = Imam Sodikin Irawan Andi Tandaputra ',
 'SELECT Womens singles FROM 1-12104319-1 WHERE Womens doubles = Naoko Fukuman Kurumi Yonao ',
 'SELECT Womens singles FROM 1-12104319-1 WHERE Mixed doubles = Marcus Ellis Gabrielle White ',
 'SELECT Mens singles FROM 1-12104319-1 WHERE Year = 2008 ',
 'SELECT GDP ( bn ) FROM 1-12108-1 WHERE Capital = Capital ',
 'SELECT Population FROM 1-12108-1 WHERE Area (sq. mi.) = Area (sq. mi.) ',
 'SELECT Light vehicle FROM 1-1211545-2 WHERE Heavy vehicle (2 axles) = R87.00 ',
 'SELECT Name FROM 1-1211545-2 WHERE Heavy vehicle (2 axles) = R87.00 ',
 'SELECT Heavy vehicle (3/4 axles) FROM 1-1211545-2 WHERE Name = Verkeerdevlei Toll Plaza ',
 'SELECT Location FROM 1-1211545-2 WHERE Name = Carousel Toll Plaza ',
 'SELECT Light vehicle FROM 1-1211545-2 WHERE Location = between Bela Bela and Modimolle ',
 'SELECT Name FROM 1-1211545-2 WHERE Heavy vehicle (2 axles) = R20.50 ',
 'SELECT Inclination FROM 1-12141496-1 WHERE Alt name = OPS-1584 ',
 'SELECT MAX(Apogee (km)) FROM 1-12141496-1 WHERE Name = SAMOS F3-3 ',
 'SELECT MAX(Perigee (km)) FROM 1-12141496-1 WHERE Decay date = 1969-01-09 ',
 'SELECT COUNT(Alt name) FROM 1-12141496-1 WHERE ID = 1964-011A ',
 'SELECT Shortstop FROM 1-12142298-2 WHERE First Baseman = Paul Konerko ',
 'SELECT Second Baseman FROM 1-12142298-2 WHERE First Baseman = Nomar Garciaparra ',
 'SELECT Rightfielder FROM 1-12142298-2 WHERE Starting Pitcher = Vicente Padilla ',
 'SELECT Shortstop FROM 1-12142298-2 WHERE Second Baseman = Jim Lefebvre AND Centerfielder = Willie Davis AND Starting Pitcher = Don Drysdale ',
 'SELECT Top Scorer FROM 1-1218784-1 WHERE GF = 41 ',
 'SELECT Goals FROM 1-1218784-1 WHERE Season = 2005-06 ',
 'SELECT COUNT(Season) FROM 1-1218784-1 WHERE Rank = 16 ',
 'SELECT Manager FROM 1-1218784-1 WHERE Rank = 16 ',
 'SELECT COUNT(Rank) FROM 1-1218784-1 WHERE Manager = Rob McDonald ',
 'SELECT Order # FROM 1-12310814-1 WHERE Original artist = Rickie Lee Jones ',
 'SELECT Result FROM 1-12310814-1 WHERE Episode = Top 3 ',
 'SELECT COUNT(Song choice) FROM 1-12310814-1 WHERE Original artist = Anna Nalick ',
 'SELECT Song choice FROM 1-12310814-1 WHERE Original artist = Rickie Lee Jones ',
 'SELECT Original artist FROM 1-12310814-1 WHERE Episode = Top 3 ',
 'SELECT # of seats won FROM 1-123462-2 WHERE Election = 1974 ',
 'SELECT COUNT(# of seats won) FROM 1-123462-2 WHERE # of total votes = 2582322 ',
 'SELECT Election FROM 1-123462-2 WHERE # of seats won = 65 ',
 'SELECT COUNT(Election) FROM 1-123462-2 WHERE # of candidates nominated = 262 ',
 'SELECT MIN(# of total votes) FROM 1-123462-2 ',
 'SELECT Strongs Words Compounded FROM 1-1242447-1 WHERE English Spelling = Jonadab ',
 'SELECT Strongs Words Compounded FROM 1-1242447-1 WHERE Strongs Transliteration = Yowyariyb ',
 'SELECT English Spelling FROM 1-1242447-1 WHERE Strongs Transliteration = Y e howram ',
 'SELECT Strongs # FROM 1-1242447-1 WHERE English Spelling = Jehojakin ',
 'SELECT Strongs Transliteration FROM 1-1242447-1 WHERE Hebrew word = יוֹחָנָן ',
 'SELECT COUNT(Strongs Transliteration) FROM 1-1242447-1 WHERE English Spelling = Jehojakin ',
 'SELECT DS Division FROM 1-12485020-1 WHERE Main Town = Kaluvanchikudy ',
 'SELECT DS Division FROM 1-12485020-1 WHERE Divisional Secretary = S. L. M. Haneefa ',
 'SELECT DS Division FROM 1-12485020-1 WHERE Divisional Secretary = S. H. Muzammil ',
 'SELECT COUNT(Population (Region total)) FROM 1-12555835-1 WHERE Year = 1947 ',
 'SELECT MIN(Population (Mareeba)) FROM 1-12555835-1 ',
 'SELECT COUNT(U.S. viewers (millions)) FROM 1-12570759-2 WHERE Title = "Buzzkill" ',
 'SELECT COUNT(Written by) FROM 1-12570759-2 WHERE U.S. viewers (millions) = 12.72 ',